 body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #1e1e1e;
      color: white;
     }
    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #1e1e1e;
      color: white;
    }
    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #1e1e1e;
      color: white;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, #3a5aff, #bb40c6);
      padding: 10px 20px;
    }
    .content {
      padding: 20px;
    }
    .location {
      margin-top: 10px;
      font-size: 14px;
    }
    .info-box {
      background: linear-gradient(to right, #003cff, #a34bcf);
      border-radius: 12px;
      padding: 15px;
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .park-panel {
      background: white;
      border-radius: 16px;
      color: black;
      padding: 20px;
    }
    .panel-header {
      background: linear-gradient(to right, #2d66f0, #a057ff);
      color: white;
      padding: 10px;
      border-radius: 10px 10px 0 0;
    }
    .slot-status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
    }
    .slot-btn {
      background: linear-gradient(to right, #2a60ff, #b455ff);
      padding: 10px 20px;
      border: none;
      border-radius: 12px;
      color: white;
      font-weight: bold;
    }
    .status {
      padding: 10px 15px;
      border-radius: 10px;
      font-weight: bold;
      color: white;
    }
    .status.available {
      background: linear-gradient(to bottom, #00d100, #00aa00);
    }
    .status.occupied {
      background: linear-gradient(to bottom, #ff3333, #cc0000);
    }
    .jumlah-parkir {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    }
    .jumlah-box {
      border: 2px solid #000;
      border-radius: 10px;
      padding: 5px 15px;
      background: #eee;
      font-size: 18px;
    }